body{
    background-color: #E9E2DC;
    margin:0;
}
    img{
        display: block;
        width:100%;

}
    
    h1{
        display:block;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
        font-family: 'Satisfy', cursive;
        color: #87491B;
        margin-top:70px;
    }